$font-stack: "Space Mono", monospace;
$primary-color: #6b515f;
$border-color: #8C8C8C;
$header-color: #BF4080;
$success-color: green;
$error-color: red;
$warning-color: orange;
$body-color:#fff;
$code-color: #000;
$general-padding: 16px;

%message-shared {
    border: 1px solid $border-color;
    padding: 16px;
    color: $body-color;
}

@mixin Shadow() {
    -webkit-box-shadow: 10px 10px 15px -4px $primary-color;
            -moz-box-shadow: 10px 10px 15px -4px $primary-color;
            box-shadow: 10px 10px 15px -4px $primary-color;
}